contourpy==1.3.3
cycler==0.12.1
fonttools==4.61.1
-e git+https://github.com/charlottedavidson524/Fraud_Detection_ML.git@43134dd4a4de22c9e6ef1090a2e0fb6b467d77d3#egg=Fraud_Detection_ML
kiwisolver==1.4.9
matplotlib==3.10.8
numpy==2.4.2
packaging==26.0
pandas==3.0.1
pillow==12.1.1
pyparsing==3.3.2
python-dateutil==2.9.0.post0
seaborn==0.13.2
setuptools==82.0.0
six==1.17.0
tzdata==2025.3
